<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Diga.WebView2.Interop" publicKeyToken="b57a3a24e5935ad4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1.5.0" newVersion="20.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>