<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diga.Core.Api.Win32" version="2.0.5" targetFramework="net472" developmentDependency="true" />
  <package id="Diga.WebView2.Interop" version="16.0.1" targetFramework="net472" />
  <package id="Diga.WebView2.Wrapper" version="16.0.3" targetFramework="net472" />
  <package id="MimeTypeExtension" version="1.0.28" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
</packages>