<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Diga.Core.Api.Win32" version="2.0.9" targetFramework="net472" developmentDependency="true" />
  <package id="Diga.WebView2.Interop" version="20.1.5" targetFramework="net472" />
  <package id="Diga.WebView2.Wrapper" version="20.1.6" targetFramework="net472" />
  <package id="MimeTypeExtension" version="1.0.30" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
</packages>